<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Document</title>
  </head>

  <body>
    <div id="container" class="container">
      <section style="background-color: #ffffff;">
        <div class="container py-5 h-100">
          <div
            class="row d-flex justify-content-center align-items-center h-100"
          >
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">

                <div class="card-body p-5 text-center">
                  <div>
                    <h2>Argumentos de entrada: </h2>
                    {{#each args}}
                      <p>{{this}}</p>
                    {{/each}}
                    <p>Path de ejecución: {{execPath}}</p>
                    <p>Nombre de la plataforma: {{platform}}</p>
                    <p>Process ID: {{pid}}</p>
                    <p>Node Version: {{version}}</p>
                    <p>Carpeta del proyercto: {{currentDir}}</p>
                    <p>Memoria total reservada: {{rss}}</p>
                    <p>Numero de CPUs: {{CPUs}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    >
    </script>
  </body>

</html>